requests
datetime
pandas as pd
plotly.express as px
yfinance as yf
requests
openpyxl
praw
datetime import datetime, timedelta
newsapi import NewsApiClient
plotly.graph_objects as go
seaborn as sns
matplotlib.pyplot as plt
google.generativeai as genai  # Gemini Integration
textblob import TextBlob
streamlit.components.v1 as components