requests
datetime
pandas
plotly.express
yfinance
requests
openpyxl
praw
datetime import datetime, timedelta
newsapi import NewsApiClient
plotly.graph_objects
seaborn
matplotlib.pyplot
google.generativeai
textblob import TextBlob
streamlit.components.v1