requests
datetime
pandas
plotly.express
yfinance
requests
openpyxl
praw
datetime
newsapi
plotly.graph_objects
seaborn
matplotlib.pyplot
google.generativeai
textblob
streamlit.components.v1